Repository aviator-ms-testing/local-testing, changes with the owners that CODEOWNERS names for each.
All owners: @aviator-ms-testing/eng, @aviator-ms-testing/engineering, @aviator-ms-testing/ios-auth-eng, @aviator-ms-testing/pd_assignment_team

This should be assigned based on PD schedule
  pd-owner/testing
Owners: @aviator-ms-testing/pd_assignment_team

Automated codemod for session 9 group 7
  testing.py
  testing2.py
Owners: @aviator-ms-testing/eng

No-assignment test
  ios/auth/testfile
Owners: @aviator-ms-testing/ios-auth-eng

Automated codemod for session 10 group 8
  testing.py
  testing2.py
Owners: @aviator-ms-testing/eng

Automated codemod for session 12 group 9
  testing.py
  testing2.py
Owners: @aviator-ms-testing/eng

CODEOWNERS:

* @aviator-ms-testing/eng
draftcode-owner @aviator-ms-testing/engineering
ios/auth @aviator-ms-testing/ios-auth-eng
pd-owner @aviator-ms-testing/pd_assignment_team
